{%extends "template.html"%}

{%block conteudo%}

    <form action="{{url_for('consult')}}" method="POST" enctype="multipart/form-data">

        <fieldset>

                <div class="form-group">
                    <label for="language">Write the tag desired for get its related ones: </label>
                    <input type="text" id="language" name="language" value="" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-salvar">Go!</button>
                <h6>*Tags are keywords related with a question.</h6>
                <h6>*Each question can contains one or more tags.</h6>
                <h6>*Tag examples: python, java, android, scala, etc.</h6>
        </fieldset>

    </form>


{%endblock%}