{%extends "template.html"%}

{%block conteudo%}

    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Tag name</th>
                <th>Number of questions occurences</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in top_tags %}
            <tr>
                <td>{{tag[0]}}</td>
                <td>{{tag[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <form action="{{url_for('consult')}}" method="POST" enctype="multipart/form-data">
        <fieldset>
                <div class="form-group">
                    <label for="language">Write the tag desired for get its related ones: </label>
                    <input type="text" id="language" name="language" value="" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-salvar">Go!</button>
                <h6>*Tags are keywords related with a question.</h6>
                <h6>*Each question can contains one or more tags.</h6>
                <h6>*Tag examples: python, java, android, scala, etc.</h6>
        </fieldset>
    </form>


{%endblock%}