{%extends "template.html"%}

{%block conteudo%}

    <form action="{{url_for('consult')}}" method="POST" enctype="multipart/form-data">

        <fieldset>

                <div class="form-group">
                    <label for="language">Select the software language for statistics: </label>
                    <input type="text" id="language" name="language" value="" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-salvar">Consult</button>
        </fieldset>

    </form>


{%endblock%}